@font-face {
	font-family: rs3Font;
	src: url("/fonts/RS3Bold.woff2");
}
.ApplySkillsButton {
	left: 5px;
}
.RefreshButton {
	left: 10px;
}
.SortButton,
.RefreshButton,
.ApplySkillsButton {
	margin-top: 6px;
	size: 20px;
}
.SearchContainer {
	display: flex;
	justify-content: space-between;
}

.SearchQuest {
	width: 50%;
}

.PlayerSearch {
	width: 50%;
}
.flexedButtons {
}
.mantine-Stepper-stepDescription {
	color: #575757;
}
.mantine-Accordion-root {
	font: rs3Font;
	display: block;
	width: 60vh;
	z-index: 10; /* Set a lower z-index to ensure it stays behind other elements */
}
.mantine-List-root {
	list-style-type: none;
	display: block;
}
.mantine-Stepper-stepIcon {
	color: #575757;
}

.mantine-Accordion-control:hover {
	background-color: #30497e;
}
/* .chevron {
	&[data-rotate] {
		transform: rotate(180deg);
	}
} */
.icon {
	width: rem(16px);
	height: rem(16px);
}
.App {
	font-family: rs3Font;
	text-align: center;
}
.Alt1Button {
	background-color: ;
}

.caroQTitle {
	color: #4e85bc;
	text-align: center;
	top: 50px;
}
.caroContainer {
	top: 10px;
	font-family: rs3Font;
	text-align: center;
	cursor: pointer;
}
.questContainer {
	display: flex;
	flex-direction: column;
}
img {
	bottom: auto;
	align: center;
	margin: auto;
	display: block;
	image-rendering: pixelated;
}

img.enlarged {
	width: 300px; /* Change this value to your desired size */
	height: auto;
}
.stepperContainer {
	max-height: 400px; /* Set the desired height for the stepper container */

	margin-top: 16px; /* Adjust as needed to create space between buttons and stepper */
}
/* .buttonsGroup {
    position: fixed;

    left: 40%;
    display: flex;
    gap: 10px;
} */
.ButtonGroupTwo {
	justify-content: flex-start;
	right: 20px;
	gap: 10px;
}
/* Save this buttons class for later use maybe */
.prevNextGroup {
	position: fixed;
	float: left;
	display: flex;
	bottom: 0;
	left: auto;
	right: 10px;
	z-index: 1;
}
.mantine-Button-root {
	font-size: 16px;
	border-radius: 4px; /* Optional: Rounded corners */
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7); /* Shadow on the bottom right */
	font-family: rs3Font;
}
.mantine-Button-root:hover {
	background-color: hsl(200, 25%, 50%);
}
.navLink {
	text-decoration: none;
	color: #4e85bc;
}
.mantine-Stepper-stepDescription {
	justify-content: flex-start;
	width: auto;
	font-family: rs3Font;
	font-size: 15px;
	color: #4e85bc;
}

.mantine-Stepper-stepIcon {
	background: linear-gradient(
		to bottom,
		#546576,
		#3d4b5a,
		#2c3742,
		#1e2832,
		#141b23,
		#0c1117
	);
}
.mantine-Stepper-stepLabel {
	font-size: 20px;
	font-family: rs3Font;
	color: #4e85bc;
}

.mantine-TextInput-label {
	font-family: rs3Font;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #4e85bc;
	font-size: 25px;
}
.QuestPageImageCaro {
	z-index: 10;
}
.autoPad1,
.autoPad2 {
	padding-top: 20px;
}
.custom-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 50vh;
	width: 50vh;
}

body {
	padding-bottom: 600px;
}
.flexGroup,
.qpTitle {
}
body,
html,
#root {
	background-image: url("./assets/background.png");
	font-family: rs3Font;
}
h2 {
	text-align: center;
	color: #4e85bc;
}
